{% extends 'base.html' %}

{% block content %}
<div class="container blockMargin">
<div class="row">
<div class="col-sm-1">
</div>

<div class="col">

    <h1>{{  title }}</h1>
    <p>Submit a report about an unethical judge, AFC, GAL, forensic evaluator or other bad court actor.</p>

<ul class="list-group list-group-horizontal-sm text-center w-100 d-flex">
  <li class="list-group-item w-100 active">Step 1: <br>General</li>
  <li class="list-group-item w-100">Step 2:<br>Select Violations</li>
  <li class="list-group-item w-100">Step 3:<br>Review</li>
  <li class="list-group-item w-100">Step 4: <br>Next Steps</li>
</ul>
<br>
    <h3 class="red-text">General</h3>

      <form method="POST">
        {{ form.csrf_token }}

        <p>
            {{ form.reportType() }}
        </p>
      <!-- begin accordian-->
      <div class="accordion" id="s1accordian">

        <!--location-->
          <div class="accordion-item">
              <h2 class="accordion-header formHeader" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Location</button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#s1accordian">
                  <div class="accordion-body">

                    <p>
                         {{ form.states.label }}
                         {{ form.states(class_="form-select") }}
                    </p>
                    {% if form.states.errors %}
                       <ul class="errors">
                             {% for error in form.states.errors %}
                                 <li>{{ error }}</li>
                             {% endfor %}
                       </ul>
                    {% endif %}

                    <div class="nyoptions">
                    <p>
                    {{ form.county.label }}
                    {{ form.county(class_="form-select") }}
                    </p>
                    {% if form.county.errors %}
                        <ul class="errors">
                            {% for error in form.county.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <p>
                        {{ form.court.label }}
                        {{ form.court(class_="form-select") }}
                    </p>
                    {% if form.court.errors %}
                        <ul class="errors">
                            {% for error in form.court.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    </div>

                    <a href="#" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" >Next</a>

                  </div>
              </div>
          </div>

      <!--offender details-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Offender
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#s1accordian">
              <div class="accordion-body" id="ba1">

                                    <!-- Button trigger search actor modal -->
                <button type="button" class="btn btn-outline-primary w-100 searchABtn" id="searchActorBtn" data-bs-toggle="modal" data-bs-target="#searchModal" value="ba1">Search for Offender</button>

                <div id="off_name">


                </div>
                {{ form.badActorId() }}
                {% if form.badActorId.errors %}
                    <ul class="errors">
                        {% for error in form.badActorId.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

              <div id="off_role">
                <p>
                {{ form.badActorType.label }}
                {{ form.badActorType(class_="form-select") }}
                </p>
                {% if form.badActorType.errors %}
                    <ul class="errors">
                        {% for error in form.badActorType.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
              </div>

              <a href="#" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne" >Next</a>

              </div>
            </div>
          </div>



          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
               Demographics
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#s1accordian">
              <div class="accordion-body">

              <p>Tell us about yourself (or the person effected). Share what you are comfortable sharing. </p>

              {% if type == 'grievance': %}
               <p>
                    {{ form.caseNum.label }}
                    {{ form.caseNum(class_="form-control") }}
                </p>

                {% if form.caseNum.errors %}
                    <ul class="errors">
                        {% for error in form.caseNum.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
              {% endif %}

                <p>
                {{ form.gender.label }}
                {{ form.gender(class_="form-select") }}
                </p>
                {% if form.gender.errors %}
                    <ul class="errors">
                        {% for error in form.gender.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                              <p>
                {{ form.race.label }}
                {{ form.race(class_="form-select") }}
                </p>
                {% if form.race.errors %}
                    <ul class="errors">
                        {% for error in form.race.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

               <p>
                {{ form.ethnicity.label }}
                {{ form.ethnicity(class_="form-select") }}
                </p>
                {% if form.ethnicity.errors %}
                    <ul class="errors">
                        {% for error in form.ethnicity.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}


               <p>
                    {{ form.highIncome(class_="form-check-input") }}
                    {{ form.highIncome.label(class_="form-check-label") }}

                </p>

                {% if form.highIncome.errors %}
                    <ul class="errors">
                        {% for error in form.highIncome.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

               <p>
                    {{ form.highWealth(class_="form-check-input") }}
                    {{ form.highWealth.label(class_="form-check-label") }}

                </p>

                {% if form.highWealth.errors %}
                    <ul class="errors">
                        {% for error in form.highWealth.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

               <p>
                    {{ form.eighteenB(class_="form-check-input") }}
                    {{ form.eighteenB.label(class_="form-check-label") }}

                </p>

                {% if form.eighteenB.errors %}
                    <ul class="errors">
                        {% for error in form.eighteenB.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

               <p>
                   {{ form.proSe(class_="form-check-input") }}
                   {{ form.proSe.label(class_="form-check-label") }}

                </p>

                {% if form.proSe.errors %}
                    <ul class="errors">
                        {% for error in form.proSe.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}


                <a href="#" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne" >Next</a>

              </div>
            </div>
          </div>




        </div>


      <p>
          <a class="nav-link" href="{{ url_for('claims.entryViolations', type=type) }}">
            <input type="submit" id="saveNext" class="btn btn-primary" value="Select Violations">
          </a>
      </p>
    </form>
</div>

<div class="col-sm-1">
</div>



<!-- Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Search</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <input type="search" class="form-control rounded searchVal" placeholder="Search" aria-label="Search" aria-describedby="search-addon" id="1" />
        </div>
        <ul id="searchResults" class="list-group"></ul>
          <hr>
        <p>Didn't find who you were looking for?</p>
        <a class="nav-link" href="{{ url_for('claims.addActor') }}"><button id="searchActorButton" type="button" class="btn w-100 btn-outline-secondary">Add New Offender</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save Selection</button>
      </div>
    </div>
  </div>
</div>

</div>
</div>


{% endblock %}