{% extends 'base.html' %}

{% block content %}
<div class="container blockMargin">
<div class="row">

<div class="col-sm-2">
</div>

<div class="col">
    <span class="title pgTitle">
        <h1>{{ title }}</h1>
    </span>
    <p>Identify any acts that violate laws related to {{ category.category }}</p>
 <ul class="list-group list-group-horizontal-sm text-center w-100 d-flex">
  <li class="list-group-item w-100">Step 1: <br>General</li>
  <li class="list-group-item w-100 active">Step 2:<br>Violations</li>
  <li class="list-group-item w-100">Step 3:<br>Review</li>
  <li class="list-group-item w-100">Step 4: <br>Next Steps</li>
</ul>
<br>
    <h3 class="red-text">{{ category.category }}</h3>
      <form method="POST">
        {{ form.csrf_token }}

        <p>
            <h5>{{ form.violations.label(class_="form-check-label") }}</h5>
            {{ form.violations(class_="list-group form-group") }}
        </p>

        {% if form.violations.errors %}
            <ul class="errors">
                {% for error in form.violations.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}


        <h5>Provide Description</h5>

        <p>
        {{ form.summary.label }}
        {{ form.summary(class_="form-control input-bg") }}
        </p>
        {% if form.summary.errors %}
            <ul class="errors">
                {% for error in form.summary.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
<!--
        {{ form.hideSummary(class_="form-check-input") }}
        {{ form.hideSummary.label }}
        <br>This can help protect privacy and increase anonymity. If checked, only the generic violations selected above will be made public.<br>
        </p>
        {% if form.hideSummary.errors %}
            <ul class="errors">
                {% for error in form.hideSummary.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

   <h5>Provide Evidence</h5>
                <p>
        {{ form.evidence.label }}
        {{ form.evidence(class_="form-control") }}
        </p>
        {% if form.evidence.errors %}
            <ul class="errors">
                {% for error in form.evidence.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
-->
        <p>
            <input type="submit" class="btn btn-primary" value="Save">
        </p>
    </form>
</div>

<div class="col-sm-2">
</div>


</div>
</div>

{% endblock %}