{% extends 'base.html' %}

{% block content %}
<div class="container blockMargin">
<div class="row">



<div class="col">
    <span class="title pgTitle">
        <h1>{{  title  }}</h1>
    </span>

 <ul class="list-group list-group-horizontal-sm text-center w-100 d-flex">
  <li class="list-group-item w-100">Step 1: <br>General</li>
  <li class="list-group-item w-100 active">Step 2:<br>Violations</li>
  <li class="list-group-item w-100">Step 3:<br>Review</li>
  <li class="list-group-item w-100">Step 5: <br>Next Steps</li>
</ul>
<br>
    <h3 class="red-text">Violations</h3>

    <p>Select a violation category below to begin a report. Add a report for each type of violation you have experienced. </p>
    <p><a href="#multiple">Why file multiple reports?</strong></a></p>


<div class ="row">

<div class="col-md-4">
    <div class="card violations">
        <a href="{{ url_for('claims.addViolations', type=type, vio_id=1) }}">
        <div class="card-header">
           <h5 class="red-text">Ex Parte</h5>
        </div>
        <div class="card-body">
            <p>Off-record, lawyer-only sessions, excluded from trials or hearings, TOPs and OSCs granted immediately without notice, etc.</p>
        </div>
        </a>
    </div>
</div>

<div class="col-md-4">
    <div class="card violations">
        <a href="{{ url_for('claims.addViolations', type=type, vio_id=2) }}">
        <div class="card-header">
           <h5 class="red-text">Abuse of Temporary Orders</h5>
        </div>
        <div class="card-body">
            <p>TOPs and OSCs removing significant rights for months or even years, without evidentiary hearing or trial, based on frivilous claims, blatant perjury, etc.</p>
        </div>
        </a>
    </div>
</div>

 <div class="col-md-4">
    <div class="card violations">
        <a href="{{ url_for('claims.addViolations', type=type,  vio_id=3) }}">
        <div class="card-header">
           <h5 class="red-text">Excessive Restrictions</h5>
        </div>
        <div class="card-body">
            <p>Supervised visits or zero contact order without cause, restricted to a county or city bounds, threatened with contempt for unrealistic orders, etc.</p>
        </div>
        </a>
    </div>
</div>

</div>

<div class="row">
    <div class="col-md-4">

    <div class="card violations">
        <a href="{{ url_for('claims.addViolations', type=type, vio_id=4) }}">
        <div class="card-header">
           <h5 class="red-text">Cronyism</h5>
        </div>
        <div class="card-body">
            <p>Judge repeat appoints AFCs, and others; does not report appointments, remains on case with known conflict of interest(s), orders legal fees without financial review, etc.</p>
        </div>
        </a>
    </div>
</div>
    </div>

    <div class="col-md-4">

    </div>

    <div class="col-md-4">

    </div>
</div>>


</div>
</div>

<div class="container">

<div class="row" id="multiple">
    <div class="col-1"></div>
    <div class="col-sm-10">
        <hr>
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Why File Multiple Reports?</h5>
            <ul>
                <li>Documenting all the violations you encounter in a single report enables offenders to hide the scale of what is happening.</li>
                <li>Submitting what you can finish in one sitting, and adding more reports later helps manage trauma and PTSD.</li>
                <li>Submitting violations by type supports collective action and better enables us to track patterns of abuses.</li>
                <li>Creating a report as the violations occur builds a timely record; you can choose to publish or file later when you feel ready.</li>
            </ul>
        </div>
        </div>
    </div>

        <div class="col-1"></div>
</div>
</div>



</div>



</div>
</div>


{% endblock %}