{% extends 'base.html' %}

{% block content %}
<div class="container blockMargin">
<div class="row">
   
       <div class="col-sm-2">
            
    </div>     

    <div class="col-sm-8 text-center">
        <h1>Actions</h1>
        <p>We are organizing. It takes a network to bring down a network.</p>
        <p><strong>Get Involved!</strong></p>
        <div class="card">
  <div class="card-body">
   <h2 class="red-text">Collective Action</h2>
   <p>We have laid the foundation for effective, data-driven, community-owned actions. Subscribe now to stay updated as we roll out the actions, and to connect with others in the community. </p>
      <div class="ml-embedded" data-form="0VT6ls"></div>
  </div>
</div>

<div class="card">
  <div class="card-body">
   <h2 class="red-text">Court Watching</h2>
   <p>To bring transparency we need witnesses in the court room. There are a number of organizations and networks running such court watching efforts. Find a court date and be a witness for a fellow victim. Be sure to multiply your impact and bring transparency by also completing the Court Watching Form.</p>
    <a href="{{ url_for('actions.watchguide') }}"><button type="button" class="btn btn-outline-dark btn-lg px-4 me-sm-3 fw-bold">Court Watch Guide</button></a> <a href="{{ url_for('actions.courtwatch') }}"><button type="button" class="btn btn-outline-dark btn-lg px-4 me-sm-3 fw-bold">Court Watch Form</button></a>
  </div>
</div>
    </div>

    <div class="col-sm-2">
            
    </div>
</div>
</div>
{% endblock %}