{% extends 'base.html' %}

{% block content %}
<div class="container blockMargin">
<div class="row">
<div class="col-sm-1">
</div>


<div class="col">

    <h1>File a Grievance</h1>

<ul class="list-group list-group-horizontal-sm text-center w-100 d-flex">
  <li class="list-group-item w-100 active">Step 1: <br>General</li>
  <li class="list-group-item w-100">Step 2:<br>Violations</li>
  <li class="list-group-item w-100">Step 3:<br>Review</li>
  <li class="list-group-item w-100">Step 4: <br>File</li>
</ul>
<br>

<div class="row">
    <div class="col-sm-7">

    <p>File a grievance about an unethical judge, AFC, GAL, forensic evaluator or other bad court actor.</p>
    <p>The organization or oversight body that you file a grievance with varies by county and profession of the person you are reporting. Juri See guides you through the process.  </p>

</div>

<div class="col-sm-5">
        <div class="card">
  <div class="card-body">
      <h5 class="card-title">Pro Tip</h5>
Filing a formal grievance in partnership with Juri See ensures there is an independent, verifiable record of the complaints filed. Currently, oversight bodies intentionally hide complaints and outcomes.
  </div>
        </div>
</div>
</div>
    <h3 class="red-text">General</h3>

      <form method="POST">
        {{ form.csrf_token }}

        <p>
            {{ form.reportType() }}
        </p>
      <!-- begin accordian-->
      <div class="accordion" id="s1accordian">

        <!--location-->
          <div class="accordion-item">
              <h2 class="accordion-header formHeader" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Location</button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#s1accordian">
                  <div class="accordion-body">

                    <p>
                         {{ form.states.label }}
                         {{ form.states(class_="form-select") }}
                    </p>
                    {% if form.states.errors %}
                       <ul class="errors">
                             {% for error in form.states.errors %}
                                 <li>{{ error }}</li>
                             {% endfor %}
                       </ul>
                    {% endif %}

                    <div class="nyoptions">
                    <p>
                    {{ form.county.label }}
                    {{ form.county(class_="form-select") }}
                    </p>
                    {% if form.county.errors %}
                        <ul class="errors">
                            {% for error in form.county.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <p>
                        {{ form.court.label }}
                        {{ form.court(class_="form-select") }}
                    </p>
                    {% if form.court.errors %}
                        <ul class="errors">
                            {% for error in form.court.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    </div>

                    <a href="#" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne" >Next</a>

                  </div>
              </div>
          </div>

      <!--offender details-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Offender Details
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#s1accordian">
              <div class="accordion-body">

                  <div class="input-group">
                      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" id="searchVal" />
                      <!-- Button trigger search actor modal -->
                      <button type="button" class="btn btn-outline-primary" id="searchActor" data-bs-toggle="modal" data-bs-target="#searchModal">Search</button>
                  </div>

                <p>
                <label>Offender Name: </label>
                {{ form.badActorId() }}
                </p>
                {% if form.badActorId.errors %}
                    <ul class="errors">
                        {% for error in form.badActorId.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                            <p>
                {{ form.badActorType.label }}
                {{ form.badActorType(class_="form-select") }}
                </p>
                {% if form.badActorType.errors %}
                    <ul class="errors">
                        {% for error in form.badActorType.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <a href="#" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne" >Next</a>

              </div>
            </div>
          </div>



          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Summary
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#s1accordian">
              <div class="accordion-body">
                  <p>
                    {{ form.title.label }}
                    {{ form.title(class_="form-control")}}
                  </p>

                {% if form.title.errors %}
                    <ul class="errors">
                        {% for error in form.title.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <p>
                {{ form.summary.label }}
                </p>
                {{ form.summary(class_="form-control") }}

                {% if form.summary.errors %}
                    <ul class="errors">
                        {% for error in form.summary.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <p>
                    {{ form.caseNum.label }}
                    {{ form.caseNum(class_="form-control") }}
                </p>

                {% if form.caseNum.errors %}
                    <ul class="errors">
                        {% for error in form.caseNum.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <a href="#" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne" >Next</a>

              </div>
            </div>
          </div>
        </div>



<!--
    <h3 class="red-text">1d. General Evidence</h3>
        <p>
            {{ form.evidence.label }}
            {{ form.evidence(class_="form-control") }} 
        </p>


        {% if form.evidence.errors %}
            <ul class="errors">
                {% for error in form.evidence.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}


-->
      <p>
          <a class="nav-link" href="{{ url_for('registry.entryViolations') }}">
            <input type="submit" id="saveNext" class="btn btn-primary" value="Save and Next">
          </a>
      </p>
    </form>
</div>

<div class="col-sm-1">
</div>



<!-- Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Search Results</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <p>searhc results here</p>
          <p>Didn't find who you were looking for?</p>
          <a class="nav-link" href="{{ url_for('registry.addActor') }}"><button id="searchActorButton" type="button" class="btn w-100 btn-outline-secondary">Add New Offender</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save Selection</button>
      </div>
    </div>
  </div>
</div>

</div>
</div>

<script>

$( ".nyoptions" ).hide();

//search function for bad actors
$('#searchActorX').click(function(){
    searchVal = $("#searchVal").val();
    console.log(search)
    $.getJSON("" + '?v=' + search, function(result){
    actors = result
    
    for (x in actors) {

        text = '<li class="list-group-item actorSearchSelect" id="'
        + actors[x].id
        +'">' 
        + actors[x].first_name 
        + ' '
        + actors[x].last_name 
        +  '</li>';
  
        $( "#s2a-ul").append(text);
    }
  });
});

$('#searchActor').click(function(){
    searchVal = $("#searchVal").val();
    alert(searchVal)
});

$("#states").change(function(){
    var selected = $('#states').find(":selected").val();
    if (selected == "NY") {
        $( ".nyoptions" ).toggle();
    }
})

$('#saveNext').click(function(){
    $(".accordion-collapse").addClass("collapse show");
});



</script>

{% endblock %}