{% extends 'base.html' %}

{% block content %}
<div class="container blockMargin">
<div class="row">

<div class="col-sm-2">
</div>

<div class="col">
    <span class="title pgTitle">
        <h1>Title: {{  report.title }}</h1>


<h5>Offender</h5>
<div class="container">
    <div class="row">
        <div class="col">
            <p><strong>Name: </strong> {{ report.actor.fName}} {{ report.actor.lName}}</p>
            <p><strong>Role: </strong> {{ report.role.actorType }}</p>
        </div>
        <div class="col grey">
            <strong>Type: </strong> {{  report.reportType }}<br>
            <strong>Date Created: </strong> {{ report.date_created }}<br>
            <strong>Category: </strong> {{ report.reportCategory }}
        </div>
    </div>
</div>

<h5>Location</h5>
<div class="container">
    <div class="row">
        <div class="col"><strong>Court: </strong> {{ report.court }}</div>
        <div class="col"><strong>County: </strong>{{ report.counties.county }}</div>
        <div class="col"><strong>State: </strong>{{ report.states }}</div>
    </div>
</div>

<h5>Details</h5>
<div class="container">
    <div class="row">
        <div class="col">
            <p><strong>Effected Person's Gender: </strong> {{ report.gender }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p><strong>Other Party's Income > $200,000: </strong>{{ report.highIncome }}</p>
            <p><strong>Other Party's Assets > $1,000,000: </strong>{{ report.highAssets }}</p>
        </div>
        <div class="col">
            <p><strong>Effected Person assigned 18B: </strong>{{ report.eighteenB }}</p>
            <p><strong>Effected Person is Pro Se: </strong>{{ report.proSe }}</p>
            </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>

<h5>Violations</h5>
<div class="container">
    <div class="row">
        <div class="col">
       <p><strong>Identified Violations: </strong></p>
        <uL>
        {% for violation in violations %}
                <li>{{ violation.violation.violation }}</li>
        {% endfor %}
        </uL>
            <p>
            <strong>Description: </strong><br>
            {{ report.summary }}
            </p>


        </div>




    </div>
</div>


</div>



<div class="col-sm-2">
</div>


</div>
</div>

{% endblock %}