{% extends 'base.html' %}

{% block content %}

<div class="container-fluid bg-dark">
<div class="row">
        
    <div class="col-sm-2">
            
    </div>

    <div class="col-sm-8 text-secondary text-center blockMargin">
      <h1 class="display-5 fw-bold text-white">About</h1>
      <p>Juri See is an organized collective of individuals working to bring an end to the organized corruption that exists in the civil courts.</p>

    <a href="#mission"><button type="button" class="btn btn-outline-light btn-lg px-4 me-sm-3 fw-bold">Mission</button></a>
    <a href="#need"><button type="button" class="btn btn-outline-light btn-lg px-4 me-sm-3 fw-bold">Need</button></a>
    <a href="#approach"><button type="button" class="btn btn-outline-light btn-lg px-4 me-sm-3 fw-bold">Approach</button></a>
    <a href="#structure"><button type="button" class="btn btn-outline-light btn-lg px-4 me-sm-3 fw-bold">Structure</button></a>
    </div>

    <div class="col-sm-2">
            
    </div>
    <div id="mission"></div>
</div>
</div>

<div class="container-fluid blockMargin">
<div class="row" >
        
    <div class="col-sm-2">
            
    </div>

    <div class="col-sm-8 text-center">
        <h2 class="red-text text-center">Mission</h2>
        <p>Juri-See’s mission is to uncover judicial corruption in civil and family court proceedings using data at scale to drive grassroots investigative journalism and to empower victims in their fight to protect fundamental rights.</p>
    </div>

    <div class="col-sm-2">
            
    </div>
    <div id="need"></div>
</div>
</div>

<div class="container-fluid blockMargin bg-dark">
<div class="row">
        
    <div class="col-sm-2">
            
    </div>

    <div class="col-sm-8 text-secondary blockMargin">
        <h2 class="red-text text-center">Need</h2>
        <p>The fact that there is a serious problem in the US courts is an open secret. Propublica’s 2023 Friends of the Court series<sup><a href="#f1">1</a></sup> made the lack of oversight and unchecked influence that is occurring in even our highest court of the land mainstream knowledge; these same issues are also rampant in the State courts<sup><a href="#f2">2</a></sup>. With an unchecked third branch of government, we are seeing decisions that are politicized, illogical and completely outside the intention or even the letter of the law created by elected officials. This creates fundamental issues:</p>
<ol type="A">
    <li><h3>Principles of Democracy Under Attack</h3>
        <p>Leading institutes, researchers and watchdogs recognize and attribute the manipulation of the courts as one of the primary mechanisms for replacing a democracy with autocracy: “Elected autocrats maintain a veneer of democracy while eviscerating its substance. Many government efforts to subvert democracy are ‘legal,’ in the sense that they are approved by the legislature or accepted by the courts.”</p>

        <p>However, it is not just that the courts could be used to undermine a democracy. It is that our courts currently are exceeding acceptable levels of checks and balances on their authority. The non-partisan Brooking Institute’s summation is succinct and apt:“What is more, the contemporary Court seems very comfortable expanding the scope of its authority; to the extent judicial decision-making approaches legislating, it violates democratic standards that put the power to make laws in the hands of an elected body.”</p>
    </li>
    <li><h3>Violations of Human Rights</h3>
        <p>A lack of checks and balances is not just an abstract concern for scholars, policy makers and legislators. Due to unchecked authority, civil court judges currently operate with impunity. As a result, there is a readily identifiable and pervasive misuse of civil courts, which has predictably resulted in numerous human rights violations.</p>

        <p>Within the civil courts there exists pocket networks of corruption that operate across the public and private legal sectors, in which unethical professionals in the legal field are using children and the elderly as currency, fraudulently capturing assets that are not their own, and other corrupt acts. News story after story has exposed shocking levels of abuse and conflicts of interests in which victims lose homes, their children, access to elderly parents, life savings and their physical liberty. And in far too many cases, children and domestic violence victims even die. Yet, even in cases in which adult and children victims die, judges and legal professionals involved have faced no accountability.</p>
    </li>

    <li><h3>No Transparency or Oversight</h3>
        <P>The current lack of authoritative and public oversight has enabled corrupt judges, and other legal professionals to subvert democracy under a veneer of legitimacy. Oversight bodies are now also largely delegitimized. They do not respond to FOIL and other legally regulated requests for data about grievances against judges and other legal professionals, and even expunge grievance data so there is not a history. Court administrators also do not respond to FOIL or other requests for data, and obstruct access to court data that is required to be public, again ensuring there is no transparency.</p>

        <p>That there is this system of obfuscation also makes journalistic reporting on the issues challenging. There is no legitimate oversight.</p>
</li>
</ol>
        <hr>
        <p id="f1" class="citation">1. <a class="l-citation" href="https://www.propublica.org/series/supreme-court-scotus">Friends of the Court: SCOTUS Justices’ Beneficial Relationships With Billionaire Donors</a>. <i>Propublica</i>. Retrieved April 17, 2024.</p>
        <p id="f2" class="citation">2. <a class="l-citation" href="https://publicintegrity.org/politics/high-courts-high-stakes/not-just-the-supreme-court-ethics-troubles-plague-state-high-courts-too/">Not just the Supreme Court: Ethics troubles plague state high courts, too </a>. <i>The Center for Public Integrity</i>. Retrieved April 17, 2024</p>
 </div>

    <div class="col-sm-2">

    </div>
        <div id="approach"></div>
</div>
</div>

<div class="container-fluid">
<div class="row">
        
    <div class="col-sm-2">
            
    </div>

    <div class="col-sm-8 text-secondary blockMargin">
        <h2 class="red-text text-center">Approach</h2>
        <p>We believe in the rule of law. We also believe most legal professionals do not condone this situation. Most professionals working in the legal field, and all citizens interested in protecting our democracy, want the manipulation of our court system fixed. </p>

        <p>It is time to bring real transparency to the judiciary branch of our government. To enable such transparency, Juri See is building a network of individuals and the technical infrastructure needed to collect court data-at-scale and conduct resource intensive investigations, that includes cross-tabluation with OSINT. Our data and reporting is used to expose and report on abuses and corruption in the court, and to support several collective actions that are occurring.</p>

        <p>The network and platform provide by Juri See is needed because the corruption is so pervasive it has already delegitimized oversight bodies, and limited the checks and balances of government bodies. Bad actors hide within a complex system of obfuscation of court data and administrative actions. This also makes journalistic reporting on the issues challenging and resource intensive. The resulting lack of journalistic exposure about the bad actors, combined with the intentional lack of oversight by administrators and oversight bodies, has enabled corrupt judges, court appointees, and lawyers to operate with impunity.</p>

    </div>

    <div class="col-sm-2">
            
    </div>
    <div id="structure"></div>
</div>
</div>
    
    <div class="container-fluid blockMargin  bg-dark">
    <div class="row">
        
    <div class="col-sm-2">
            
    </div>

    <div class="col-sm-8 text-secondary blockMargin">

     <h2 class="red-text text-center">Structure</h2>
      <p>A core working group operates and guides Juri See's large-scale investigative reporting and group actions. This working group is comprised of professional human rights workers, investigative reporters, lawyers, software development professionals, and community organizers.</p>

      <p>Our members are active on various communities led actions that contribute to their own cases and further our investigations. We also partner with any like-minded individuals providing court recording, community outreach, and other activities for those effected by the courts, and participating in other activities.</p>

      <p>Juri See's work is designed to support and further the efforts of all persons working in this space. We do not seek to duplicate or replace.</p>

      <p>While, at this time, Juri See is focused on family and matrimonial proceedings in NY (to be quickly followed by NJ, and CT), we are aware similar abuses in housing, guardianship, real estate, and business cases. We are open and to bring these same processes to your State soon. We are also open to sharing with international efforts. We limit our current focus due to resource limitations and until we are able to finalize our infrastructure and methodology.</p>

      <p>See <a href="{{ url_for('actions.index') }}">Actions</a> if you are interested in joining our efforts.</p>
        
    </div>

    <div class="col-sm-2">
            
    </div> 
</div>
</div>
{% endblock %}