{% extends 'base.html' %}

{% block content %}
    
<div class="container-fluid bg-dark">
<div class="row">
        
    <div class="col-sm-2">
            
    </div>

    <div class="col-sm-8 text-secondary text-center blockMargin">
      <h1 class="display-5 fw-bold text-white">About</h1>
      <p>Juri See is an organized collective of individuals working to bring an end to the organized corruption that exists in the civil courts.</p>

    <a href="#mission"><button type="button" class="btn btn-outline-light btn-lg px-4 me-sm-3 fw-bold">Mission</button></a>
    <a href="#need"><button type="button" class="btn btn-outline-light btn-lg px-4 me-sm-3 fw-bold">Need</button></a>
    <a href="#approach"><button type="button" class="btn btn-outline-light btn-lg px-4 me-sm-3 fw-bold">Approach</button></a>
    <a href="#structure"><button type="button" class="btn btn-outline-light btn-lg px-4 me-sm-3 fw-bold">Structure</button></a>
    </div>

    <div class="col-sm-2">
            
    </div>
    <div id="mission"></div>
</div>
</div>

<div class="container-fluid blockMargin">
<div class="row" >
        
    <div class="col-sm-2">
            
    </div>

    <div class="col-sm-8 text-center">
        <h2 class="red-text text-center">Mission</h2>
        <p>Juri-See’s mission is to uncover judicial corruption in civil and family court proceedings using data at scale to drive grassroots investigative journalism and to empower victims in their fight to protect fundamental rights.</p>
    </div>

    <div class="col-sm-2">
            
    </div>
    <div id="need"></div>
</div>
</div>

<div class="container-fluid blockMargin bg-dark">
<div class="row">
        
    <div class="col-sm-2">
            
    </div>

    <div class="col-sm-8 text-secondary blockMargin">
        <h2 class="red-text text-center">Need</h2>
        <p>The fact that there is a serious problem in civil and family courts is an open secret. There is a readily identifiable and pervasive misuse of housing, family and matrimonial civil courts in the Tri-State area (NY, NJ, CT). Covert networks of legal professionals are using children and the eldery as currency. News story after story expose shocking levels of abuse and conflicts of interests in which victims lose access to family members, and lose their homes and life savings.</p>

        <p>The urgency of Juri See’s cause cannot be understated. In worst case scenarios, child abuse and domestic violence victims have died due to illegitimate court actions by abusers. Multiple high profile cases show this is not speculative, and that corrupt players’ actions are in fact matters of extreme abuse, and even life and death. Consider the case of eight-year old Thomas Valva’s death at his father’s hands despite his mother’s repeated pleas to the court for help; or Catherine Kassenoff’s recent assisted suicide that she felt was necessary due to such corruption, to just name a few.</p>

        <p>Yet, even with such high-profile cases, and report after report highlighting the issues, corruption in the courts continues unabated. This results in outrageous, unlawful decisions in which elderly are cut off from family mebers, innocent parents are stripped of parenthood without legitimate cause, and children are isolated with parents that are known to be physically, sexually, or psychologically abusive and negligent.</p>
    </div>

    <div class="col-sm-2">

    </div>
        <div id="approach"></div>
</div>
</div>

<div class="container-fluid">
<div class="row">
        
    <div class="col-sm-2">
            
    </div>

    <div class="col-sm-8 text-secondary blockMargin">
        <h2 class="red-text text-center">Approach</h2>
        <p>It is time to bring real transparency to the judiciary branch of our government. To enable such transparency, Juri See is building a network and the technical infrastructure needed to collect data-at-scale and conduct resource intensive investigations. Our data and reporting is used to expose and report on abuses and corruption in the court, and to support several collective actions that are occurring.</p>

        <p>The network and platform provide by Juri See is needed because the corruption is so pervasive it has already delegitimized oversight bodies, and limited the checks and balances of government bodies. Bad actors hide within a complex system of obfuscation of court data and administrative actions. This also makes journalistic reporting on the issues challenging and resource intensive. The resulting lack of journalistic exposure about the bad actors, combined with the intentional lack of oversight by administrators and oversight bodies, has enabled corrupt judges, court appointees, and lawyers to operate with impunity.</p>

    </div>

    <div class="col-sm-2">
            
    </div>
    <div id="structure"></div>
</div>
</div>
    
    <div class="container-fluid blockMargin  bg-dark">
    <div class="row">
        
    <div class="col-sm-2">
            
    </div>

    <div class="col-sm-8 text-secondary blockMargin">

     <h2 class="red-text text-center">Structure</h2>
      <p>A core working group operates and guides Juri See's large-scale investigative reporting and group actions. This working group is comprised of professional human rights workers, investigative reporters, lawyers, software development professionals, community organizers, and special investigators.</p>

      <p>Our members are active on various communities led actions that contribute to their own cases and further our investigations. We also partner with any like-minded individuals providing court recording, community outreach, and other activities for those effected by the courts, and participating in other activities.</p>

      <p>Juri See's work is designed to support and further the efforts of all persons working in this space. We do not seek to duplicate or replace.</p>

      <p>While, at this time, Juri See is focused on family and matrimonial proceedings in NY, to be quickly followed by NJ, and CT, we are open and eager to bring those same processes to your State soon. We are also open to sharing with international efforts. We limit our focus only due to resource limitations and until we are able to finalize our infrastructure and methodology.</p>

      <p>See <a href="{{ url_for('actions.index') }}">Actions</a> if you are interested in joining our efforts.</p>
        
    </div>

    <div class="col-sm-2">
            
    </div> 
</div>
</div>
{% endblock %}