{% extends 'base.html' %}

{% block content %}
<div class="container blockMargin">
<div class="row">
<div class="col-sm-2">
</div>

<div class="col-sm-8">

    <h1>Code of conduct</h1>

    <h3>1. Ownership and Responsibility of Claims</h3>
    <ol type="A">
        <li>You understand that all postings made by you in the Claims section of this site reflect the opinions of you, and are not those of the owner of this platform, Juri•See.</li>
         <li>You understand that you have a responsibility to state claims that are true to the best of your knowledge and belief.</li>
        <li>You understand that you are responsible for ensuring that the content of your postings does not violate the Content Limitations outlined below or any relevant laws. </li>
        <li>You understand that the Juri•See Claims' primary purpose is to raise awareness and track patterns of abuse of bad actors in the legal system. It is not a social media platform nor a mechanism of retaliation; and you agree you will not use it in that way. </li>
    </ol>
    <h3>2. Right of Review and Removal</h3>
    <ol type="A">
        <li>You understand that Juri•See reserves the right to remove any postings it feels violates the intention of our Code of Content or any of the Content Limitations outlined below.</li>
        <li>You understand that anyone who believes a posting is inaccurate or otherwise unfair has the right to contact Juri•See and request a review.</li>
        <li>You understand that anyone who believes a posting violates Juri•See's code of conduct has the right to contact Juri•See and request a review.</li>
        <li>Juri•See does not guarantee any outcome of a review. However, upon review, Juri•See reserves the right to remove any posting.</li>
    </ol>

<h3>3. Content Limitations</h3>
     <ol type="A">
    <li>Juri•See limits the information that can be published in the Claims platform for ethical or legal reasons.</li>

    <li>You agree to limit your content to that which does not violate the law or the following:</li>
    <ol type="a">
        <li>Absolutely no publishing of names or faces of children<br>
            This includes any one under the age of 18 now or under the age of 18 at the time of the court proceedings). <strong>Names and faces of minors must be redacted</strong>. Replace names with phrases such as "Child A."
    It does not matter if children have said they are ok with it. We do not allow such publishing for legal and ethical reasons. </li>
<li>Absolutely no publishing media that contains imagery of physical or sexual abuse<br>
 It does not matter if these pictures are of your self and you are ok with it. We do not allow such images to be public so that our system does not become misused. If you have such information that you wish to disclose for whistleblower or investigative purposes, we are interested and we will help you handle the disclosure of such information safely and ethically. Please contact us securely.</li>
<li>No hate or inflammatory language<br>
Juri•See does not support discrimination, intimidation, or violent language or behaviors. We do not support or allow "isms" of any kind.</li>
<li>No Doxxing<br>
    Doxxing is an abuse. We don’t care how awful each of these people have been (and we promise the stories we have heard are shocking and depraved, and we believe you), we do not participate in abuse. Doxing also will not help our shared cause. Doxxing means:
    <ul>
        <li>No publishing of full addresses of any private persons.<br>
            The street lines must be redacted from such addresses (Borough, City, State and Zip are allowable).<strong>Note: </strong>Full addresses of businesses and organizations is allowable. </li>
        <li>No publishing private phone numbers of individual persons.<br>
        <strong>Note: </strong>Publishing of phone numbers for businesses and organizations is allowable.</li>
    </ul>
<li>No publishing social security numbers</li>
<li>No bank account or routing numbers.<br>
        If you have private or financial information that you wish to disclose for whistleblower and investigative purposes, we are interested and we will help you handle the disclosure of such information safely and ethically. Please contact us securely.</li>
</ol>
<li>In addition to the above limitations, you are strongly encouraged to avoid the use of all caps, and slogans.<BR>
    Slogans, while useful for capturing attention, are not very effective for accurately documenting abuses and violations. Using all caps, more-often-than-not, can make a person look unstable.
</li>
</ol>
<h3>4. Agreement</h3>
       BY making an account on this site you have agreed to comply with all of these terms.


	</div>
	</div>
</div>

<div class="col-sm-2">
</div>


</div>
</div>

{% endblock %}