{% extends 'base.html' %}

{% block content %}

<div class="container-fluid bg-dark">
<div class="row">
        
    <div class="col-sm-2">
            
    </div>

    <div class="col-sm-8 text-secondary text-center blockMargin">
      <h1 class="display-5 fw-bold text-white">Juri•See</h1>

      <p class="fs-5 mb-4"><p class="lead">Data-at-scale and investigative reporting of those working in the civil courts.</p>
        <h2 class="red-text">Transparency for the Third Branch</h2>

        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="#whatwedo"><button type="button" class="btn btn-outline-light btn-lg px-4 me-sm-3 fw-bold">What We Do</button></a>
          <a class="nav-link" href="{{ url_for('actions.index') }}"><button type="button" class="btn btn-outline-light btn-lg px-4 me-sm-3 fw-bold">Get Involved</button></a>
        </div>
  
    </div>


    </div>

    <div class="col-sm-2">
            
    </div>

</div>
</div>
<!--end main banner-->

<div class="container-fluid blockMargin" id="whatwedo">
<div class="row">
        
    <div class="col-sm-2">
            
    </div>


    <div class="col-sm-8 text-secondary text-center">
        <h1 class="display-5 lh-1 mb-3">What We Do</h1>

        <div class="card">
        <div class="card-body">
            <h2 class="red-text">Claims</h2>
            <p>We are collecting and publishing reports of bad actors in the court system to raise awareness for victims (which you can provide anonymously). The reported violations are mapped directly to laws and regulations, to support collective action and better enables us to track patterns of abuses. </p>
            <a href="{{ url_for('claims.addReport', type='report') }}"><button type="button" class="btn btn-lg btn-outline-dark px-4 me-sm-3 fw-bold">Report an Offender</button></a>
            <!--<p>COMING SOON: We are collecting and publishing formal grievances against bad actors in the court to bring transparency and accountability to corrupt players and oversight bodies.</p>
           <a href="{{ url_for('claims.addReport', type='grievance') }}"><button type="button" class="btn btn-outline-dark btn-lg px-4 me-sm-3 fw-bold">File a Grievance</button></a>-->
        </div>
        </div>

        <div class="card">
        <div class="card-body">
            <h2 class="red-text">Data Driven Investigations</h2>
            <p>We are building data at scale, cross-collating with open source intelligence (OSINT) to trace connections and patterns, and guide investigations within the civil court ecosystem.</p>

            <p>Coming soon!</p>
        </div>
        </div>


        <div class="card">
        <div class="card-body">
            <h2 class="red-text">Community Led Actions</h2>
            <p>We are empowering individuals caught within the system to safely report misconduct, and take collective action, help to track the big players of corruption, to increase the impact of court watching, and more.</p>

            <a href="{{ url_for('actions.index') }}"><button type="button" class="btn btn-lg btn-outline-dark px-4 me-sm-3 fw-bold">Get Involved</button></a>
            <!--<a href=""><button type="button" class="btn btn-lg btn-outline-dark px-4 me-sm-3 fw-bold">Use Our Resources</button></a>-->
        </div>
        </div>

        <div class="card">
        <div class="card-body">
            <h2 class="red-text"> Sensitive Tips</h2>
            <p>Need anonymity? Concerned with snooping? Use an encrypted tipline.</p>
            Signal:<br>
            Secure eMail:<a href="mailto:jurisee@proton.me">jurisee@proton.me</a><br>
        </div>
        </div>
    </div>

    <div class="col-sm-2">
            
    </div>




</div>
</div>
{% endblock %}