{% extends 'base.html' %}

{% block content %}
<div class="container blockMargin">
<div class="row">
<div class="col-sm-2">
</div>

<div class="col-sm-8">
	<div class="card">
	<div class="card-heading">
		<h2>Create Account</h2>
	</div>
	<div class="card-body">
		<form method="POST">
        <p>
        {{ form.firstName.label }}
        {{ form.firstName(class_="form-control input-bg") }}
        </p>
        {% if form.firstName.errors %}
            <ul class="errors">
                {% for error in form.firstName.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
        {{ form.lastName.label }}
        {{ form.lastName(class_="form-control input-bg") }}
        </p>
        {% if form.lastName.errors %}
            <ul class="errors">
                {% for error in form.lastName.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
        {{ form.email.label }}
        {{ form.email(class_="form-control input-bg") }}
        </p>
        {% if form.email.errors %}
            <ul class="errors">
                {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            <input type="submit" class="btn btn-primary" value="Register">
        </p>
	</form>
	</div>

	</div>
	</div>
</div>

<div class="col-sm-2">
</div>


</div>
</div>

{% endblock %}